<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Medicine Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
    <ion-button (click)="changeMode('month')">Month</ion-button>
    <ion-button (click)="changeMode('week')">Week</ion-button>
    <ion-button (click)="changeMode('day')">Day</ion-button>
    <ion-button (click)="loadEvents()">Load</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar color="tertiary">

    <ion-button slot="start" fill="clear" (click)="back()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-title>
      {{ viewTitle }} 
    </ion-title>


    <ion-button slot="end" fill="clear" (click)="next()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>

</ion-toolbar>

<ion-content>


  <calendar
    [eventSource]="eventSource"
    [queryMode]="calendar.queryMode"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [step]="calendar.step"
    [preserveScrollPosition]="calendar.preserveScrollPosition"
    [startHour]="calendar.startHour"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    (onDayHeaderSelected)="onDayHeaderSelected($event)"
  >
  </calendar>
</ion-content>