<ion-content color="light">
<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Medicine Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
    <ion-button (click)="changeMode('month')">Month</ion-button>
    <ion-button (click)="changeMode('week')">Week</ion-button>
    <ion-button (click)="changeMode('day')">Day</ion-button>
  </ion-buttons>
</ion-toolbar>

  <div *ngIf="showAddEvent" class="ion-padding">
    <ion-item>
      <ion-label><b>Title:</b></ion-label>
      <ion-input type="text" [(ngModel)]="newEvent.title" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Description:</b></ion-label>
      <ion-input type="text" placeholder="Description" [(ngModel)]="newEvent.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Start Time :</b></ion-label>
      <ion-input type="datetime-local" [(ngModel)]="newEvent.startTime" placeholder="Start Time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>End Time :</b></ion-label>
      <ion-input type="datetime-local" [(ngModel)]="newEvent.endTime" placeholder="End Time"></ion-input>
    </ion-item>
    <ion-button color="tertiary" expand="block" (click)="addEvent()">Add Event</ion-button>
    
  </div>

  <ion-toolbar *ngIf="!showAddEvent" color="light">

    <ion-button slot="start" fill="clear" (click)="back()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-title>
      {{ viewTitle }} 
    </ion-title>


    <ion-button slot="end" fill="clear" (click)="next()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>

</ion-toolbar>


  <calendar
    *ngIf="!showAddEvent"
    [eventSource]="eventSource"
    [queryMode]="calendar.queryMode"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [step]="calendar.step"
    [preserveScrollPosition]="calendar.preserveScrollPosition"
    [startHour]="calendar.startHour"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    (onDayHeaderSelected)="onDayHeaderSelected($event)"
  >
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showHideForm()">
      <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
      <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>